*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background-color: #4e7287;
  font-family: Nort, sans-serif;
  margin: 0;
  padding: 0;
}
main {
  background-color: #fff;
  margin: 0 auto;
  max-width: 2100px;
}

a {
  color: #4e7287;
  text-decoration: underline;
}

.btn {
  background: #fff;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 3px 4px rgba(0, 0, 0, 0.05),
    0 0 0 0.5px rgba(0, 0, 0, 0.15), 0 0 0 transparent inset;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  font-family: Nort, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  opacity: 1;
  padding: 0 16px;
  position: relative;
  text-decoration: none;
  transition: background-color 0.2s, box-shadow 0.2s, color 0.2s, opacity 0.2s;
  user-select: none;
}
.btn.no-hairline {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 3px 4px rgba(0, 0, 0, 0.05),
    0 0 0 0 rgba(0, 0, 0, 0.15), 0 0 0 transparent inset;
}
.btn.is-disabled {
  opacity: 0.5;
}
.btn:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 3px 5px rgba(0, 0, 0, 0.15),
    0 0 0 0.5px rgba(0, 0, 0, 0.15), 0 0 0 transparent inset;
  text-decoration: none;
}
.btn:active {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15),
    0 0 0 0.5px rgba(0, 0, 0, 0.15), 0 0 0 transparent inset;
}
.btn:focus {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 3px 4px rgba(0, 0, 0, 0.05),
    0 0 0 0.5px #b7c9d1, rgba(167, 210, 243, 0.75) 0 0 0 2px inset;
  outline: none;
}
.btn:hover:focus {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 3px 5px rgba(0, 0, 0, 0.15),
    0 0 0 0.5px #b7c9d1, rgba(167, 210, 243, 0.75) 0 0 0 2px inset;
}
.btn:active:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15),
    0 0 0 0.5px #b7c9d1, rgba(167, 210, 243, 0.75) 0 0 0 2px inset;
}

.btn.is-big {
  font-size: 16px;
  font-weight: 400;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
}

#main-header {
  position: fixed;
  left: 0;
  padding: 0 12px;
  right: 0;
  top: 0;
  z-index: 10;
}
#main-header::after {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.05),
    transparent
  );
  content: "";
  display: block;
  height: 2px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 100%;
  transition: opacity 0.1s;
}
#main-header h1,
#main-header .header-links > a:not(.btn) {
  background: transparent;
  transition: background-color 0.2s;
}
#main-header:not(.is-scrolling) h1,
#main-header:not(.is-scrolling) .header-links > a:not(.btn) {
  background: rgba(31, 210, 196, 0.75);
}
#main-header.is-scrolling {
  background: #fff;
}
#main-header.is-scrolling::after {
  opacity: 1;
}
#main-header > div {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1024px;
}
#main-header h1 {
  border-radius: 4px;
  display: flex;
  margin: 0 0 0 -4px;
  padding: 4px;
}
.header-links {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-links > a:not(.btn) {
  border-radius: 4px;
  color: #000;
  display: inline-block;
  padding: 4px 8px;
  text-decoration: none;
}
.header-links > a:not(.btn):hover {
  text-decoration: underline;
}
.header-links > a {
  margin-left: 24px;
  white-space: nowrap;
}

#hero {
  background-color: #1fd2c4;
  background-image: url(/img/slants.svg);
  background-position: left 100%;
  background-repeat: repeat-x;
  background-size: auto 300px;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
}
#hero > div {
  margin: 0 auto;
  max-width: 1024px;
  padding: 165px 350px 165px 0;
  position: relative;
  z-index: 2;
}

#hero h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1em;
  margin: 0 0 32px;
}
#hero p {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 36px;
}

#hero .cta .no-cc-req {
  background: rgba(31, 210, 196, 0.75);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 8px;
  padding: 4px;
}

.hero-phones {
  display: flex;
  position: absolute;
  left: 65vw;
  top: -520px;
  transform: rotate(12deg);
  z-index: 1;
}
.hero-phones-col1 {
  display: flex;
  flex-direction: column;
}
.hero-phones .phone {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 613px;
  justify-content: center;
  margin-bottom: 20px;
  width: 300px;
}
.hero-phones .hero-phones-col1 {
  padding-top: 610px;
}
.hero-phones .hero-phones-col2 {
  background-color: #1fd2c4;
  margin-left: 20px;
  padding-top: 300px;
}
.hero-phones .main {
  background-image: url(/img/phone.png);
  position: relative;
}
.hero-phones .main .cover-art {
  background: #222 url(/img/covers.jpg) no-repeat;
  background-size: 1200px 200px;
  border-radius: 5px;
  box-shadow: 0 7px 50px 0 rgba(74, 96, 32, 0.3),
    0 20px 40px 0 rgba(74, 96, 32, 0.2);
  height: 200px;
  margin: auto;
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  width: 200px;
}
.is-intersecting .hero-phones .main .cover-art {
  animation-delay: -50ms;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-name: phone-podcast-ca-glow;
}
.is-intersecting .hero-phones .directory {
  opacity: 0.5;
}
.hero-phones .directory-exorcist {
  background-image: url(/img/ss_exorcist.png);
}

.hero-phones .main .names,
.hero-phones .main .descriptions {
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  left: 0;
  line-height: 24px;
  list-style: none;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 340px;
  transform: translateY(0);
}
.hero-phones .main .descriptions {
  color: #9013fe;
  font-weight: 400;
  top: 364px;
}
.is-intersecting .hero-phones .main .names > li {
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-name: phone-podcast-namedesc;
}
.is-intersecting .hero-phones .main .descriptions > li {
  animation-delay: 85ms;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-name: phone-podcast-namedesc;
}

@keyframes phone-podcast-namedesc {
  0% {
    transform: translateY(0);
  }
  17% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-24px);
  }
  37% {
    transform: translateY(-24px);
  }
  40% {
    transform: translateY(-48px);
  }
  57% {
    transform: translateY(-48px);
  }
  60% {
    transform: translateY(-72px);
  }
  77% {
    transform: translateY(-72px);
  }
  80% {
    transform: translateY(-96px);
  }
  97% {
    transform: translateY(-96px);
  }
  100% {
    transform: translateY(-120px);
  }
}
@keyframes phone-podcast-ca-glow {
  0% {
    background-position: 0 0;
    box-shadow: 0 7px 50px 0 rgba(74, 96, 32, 0.3),
      0 20px 40px 0 rgba(74, 96, 32, 0.2);
  }
  15% {
    background-position: 0 0;
    box-shadow: 0 7px 50px 0 rgba(74, 96, 32, 0.3),
      0 20px 40px 0 rgba(74, 96, 32, 0.2);
  }
  20% {
    background-position: -200px 0;
    box-shadow: 0 7px 50px 0 rgba(0, 167, 59, 0.3),
      0 20px 40px 0 rgba(0, 167, 59, 0.2);
  }
  35% {
    background-position: -200px 0;
    box-shadow: 0 7px 50px 0 rgba(0, 167, 59, 0.3),
      0 20px 40px 0 rgba(0, 167, 59, 0.2);
  }
  40% {
    background-position: -400px 0;
    box-shadow: 0 7px 50px 0 rgba(0, 83, 147, 0.3),
      0 20px 40px 0 rgba(0, 83, 147, 0.2);
  }
  55% {
    background-position: -400px 0;
    box-shadow: 0 7px 50px 0 rgba(0, 83, 147, 0.3),
      0 20px 40px 0 rgba(0, 83, 147, 0.2);
  }
  60% {
    background-position: -600px 0;
    box-shadow: 0 7px 50px 0 rgba(199, 113, 75, 0.3),
      0 20px 40px 0 rgba(199, 113, 75, 0.2);
  }
  75% {
    background-position: -600px 0;
    box-shadow: 0 7px 50px 0 rgba(199, 113, 75, 0.3),
      0 20px 40px 0 rgba(199, 113, 75, 0.2);
  }
  80% {
    background-position: -800px 0;
    box-shadow: 0 7px 50px 0 rgba(114, 4, 189, 0.3),
      0 20px 40px 0 rgba(114, 4, 189, 0.2);
  }
  95% {
    background-position: -800px 0;
    box-shadow: 0 7px 50px 0 rgba(114, 4, 189, 0.3),
      0 20px 40px 0 rgba(114, 4, 189, 0.2);
  }
  100% {
    background-position: -1000px 0;
    box-shadow: 0 7px 50px 0 rgba(74, 96, 32, 0.3),
      0 20px 40px 0 rgba(74, 96, 32, 0.2);
  }
}

.centered-section {
  padding: 80px 20px 0;
}
.centered-section > div {
  margin: 0 auto;
  max-width: 1024px;
}
.centered-section > div > svg {
  display: block;
  margin: 0 auto 32px;
}
.centered-section h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1em;
  margin: 0 0 32px;
  text-align: center;
}
.centered-section > div > p {
  color: #44484d;
  font-size: 16px;
  line-height: 28px;
  padding: 0 10vw;
  text-align: center;
}

.high-level-options {
  display: flex;
  padding: 56px 0 28px;
}
.high-level-option {
  flex: 1 1;
  line-height: 24px;
}
.high-level-option .high-level-option--icon {
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 6px 8px rgba(0, 0, 0, 0.025);
  display: inline-block;
  height: 56px;
  margin-bottom: 20px;
  width: 56px;
}
.high-level-option .high-level-option--icon.battery {
  background-color: #d8e9f1;
  background-image: url(/img/icon_battery.svg);
  background-size: 32px 48px;
}
.high-level-option .high-level-option--icon.cash {
  background-color: #d0f9e6;
  background-image: url(/img/icon_cash.svg);
  background-size: 45px 48px;
}
.high-level-option .high-level-option--icon.tags {
  background-color: #f2c4ec;
  background-image: url(/img/icon_tags.svg);
  background-size: 48px 48px;
}
.high-level-option h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 20px;
}
.high-level-option p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.high-level-option a {
  font-size: 14px;
}
.high-level-option a::after {
  content: "…";
}

.high-level--quote.customer-quotes--quote {
  left: auto;
  margin: 40px auto 0;
  opacity: 1;
  position: relative;
  right: auto;
}
.high-level--quote--inner {
  background: #f9edda;
  border-radius: 20px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05), 0 8px 40px rgba(0, 0, 0, 0.025);
  font-size: 20px;
  padding: 20px 32px;
  position: relative;
}
.high-level--quote--inner::before {
  color: #8a0d0d;
  content: "“";
  font-size: 120px;
  left: -20px;
  position: absolute;
  top: -32px;
}

.supports {
  background-color: #d8e9f1;
}
.supports-wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 140px 0;
  position: relative;
  text-align: center;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 1;
}
.supports-wrapper p {
  padding: 0 16px;
  color: #32586e;
  font-size: 24px;
}
.supports--service {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 80px;
  justify-content: center;
  position: absolute;
  transform: scale(1);
  transition: transform 0.3s;
  width: 80px;
  will-change: transform;
}
.supports--service:hover {
  transform: scale(1.05);
  z-index: 2;
}

.supports--service svg {
  pointer-events: none;
  position: absolute;
  transition: transform 0.75s;
  z-index: 2;
}
.supports--service:hover svg {
  transform: translate(0, 0) !important;
}
/*.supports--service:before {
  background: red;
  bottom: -12px;
  content: "";
  display: block;
  position: absolute;
  left: -12px;
  right: -12px;
  top: -12px;
}*/
.supports--service:after {
  background: #fff;
  border-radius: 4px;
  bottom: calc(-100% - 10px);
  content: attr(data-name);
  display: inline-block;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  margin: 0 -30px;
  opacity: 0;
  padding: 0 8px;
  pointer-events: none;
  position: relative;
  transform: translate(0, 0);
  transition: transform 0.2s, opacity 0.2s;
  z-index: 3;
}
.supports--service:hover:after {
  transform: translate(0, -4px);
  opacity: 1;
}
@media (min-width: 800px) {
  .supports--service {
    transition: filter 0.25s, transform 0.3s;
    will-change: filter, transform;
  }
  .supports--service:hover {
    filter: drop-shadow(0 4px 9px rgba(0, 0, 0, 0.1))
      drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  }
  .supports--service:after {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 2px 5px rgba(0, 0, 0, 0.0125);
  }
  .supports--service:hover:after {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 3px 7px rgba(0, 0, 0, 0.0125);
  }
}

.supports--service--apple-podcasts {
  height: 70px;
  left: 16%;
  top: 13%;
  width: 70px;
}
.supports--service--breaker {
  height: 60px;
  left: 60%;
  top: 70%;
  width: 60px;
}
.supports--service--castbox {
  bottom: 13%;
  height: 65px;
  right: 5%;
  width: 65px;
}
.supports--service--castro {
  height: 80px;
  left: 32%;
  top: 16%;
  width: 80px;
}
.supports--service--downcast {
  height: 60px;
  left: 85%;
  top: 40%;
  width: 60px;
}
.supports--service--google-podcasts {
  left: 78%;
  top: 10%;
}
.supports--service--overcast {
  height: 65px;
  left: 5%;
  top: 72%;
  width: 65px;
}
.supports--service--playerfm {
  height: 85px;
  left: 2%;
  top: 30%;
  width: 85px;
}
.supports--service--pocketcasts {
  height: 90px;
  left: 46%;
  top: 8%;
  width: 90px;
}
.supports--service--podcast-republic {
  height: 75px;
  left: 15%;
  top: 64%;
  width: 75px;
}
.supports--service--radiopublic {
  height: 80px;
  left: 45%;
  top: 72%;
  width: 80px;
}
.supports--service--spotify {
  height: 110px;
  left: 30%;
  top: 60%;
  width: 110px;
}
.supports--service--stitcher {
  height: 51px;
  left: 60%;
  top: 20%;
  width: 120px;
}
.supports--service--tunein {
  height: 33px;
  left: 74%;
  top: 68%;
  width: 75px;
}

@media (max-width: 920px) {
  .supports-wrapper {
    padding: 200px 0;
  }
  .supports-wrapper p br {
    display: block !important;
  }

  .supports--service--apple-podcasts {
    left: 16%;
    top: 10%;
  }
  .supports--service--breaker {
    left: 76%;
    top: 76%;
  }
  .supports--service--castbox {
    bottom: 15%;
    right: 5%;
  }
  .supports--service--castro {
    left: 32%;
    top: 24%;
  }
  .supports--service--downcast {
    left: 90%;
    top: 40%;
  }
  .supports--service--google-podcasts {
    left: 82%;
    top: 10%;
  }
  .supports--service--overcast {
    left: 5%;
    top: 72%;
  }
  .supports--service--playerfm {
    left: 2%;
    top: 30%;
  }
  .supports--service--pocketcasts {
    left: 46%;
    top: 8%;
  }
  .supports--service--podcast-republic {
    left: 15%;
    top: 54%;
  }
  .supports--service--radiopublic {
    left: 48%;
    top: 74%;
  }
  .supports--service--spotify {
    left: 30%;
    top: 62%;
  }
  .supports--service--stitcher {
    left: 60%;
    top: 24%;
  }
  .supports--service--tunein {
    left: 78%;
    top: 58%;
  }
}
@media (max-width: 770px) {
  .supports--service--apple-podcasts {
    left: 13%;
    top: 9%;
  }
  .supports--service--breaker {
    left: 70%;
    top: 76%;
  }
  .supports--service--castbox {
    bottom: 15%;
    right: 5%;
  }
  .supports--service--castro {
    left: 30%;
    top: 24%;
  }
  .supports--service--downcast {
    left: 85%;
    top: 40%;
  }
  .supports--service--google-podcasts {
    left: 82%;
    top: 8%;
  }
  .supports--service--overcast {
    left: 3%;
    top: 79%;
  }
  .supports--service--playerfm {
    left: 3%;
    top: 30%;
  }
  .supports--service--pocketcasts {
    left: 43%;
    top: 8%;
  }
  .supports--service--podcast-republic {
    left: 11%;
    top: 60%;
  }
  .supports--service--radiopublic {
    left: 49%;
    top: 78%;
  }
  .supports--service--spotify {
    left: 26%;
    top: 72%;
  }
  .supports--service--stitcher {
    left: 60%;
    top: 24%;
  }
  .supports--service--tunein {
    left: 78%;
    top: 59%;
  }
}
@media (max-width: 500px) {
  .supports-wrapper {
    padding: 230px 0;
  }

  .supports--service--apple-podcasts {
    left: 6%;
    top: 5%;
  }
  .supports--service--breaker {
    left: 58%;
    top: 86%;
  }
  .supports--service--castbox {
    bottom: 10%;
    right: 5%;
  }
  .supports--service--castro {
    left: 32%;
    top: 28%;
  }
  .supports--service--downcast {
    left: 80%;
    top: 20%;
  }
  .supports--service--google-podcasts {
    left: 62%;
    top: 6%;
  }
  .supports--service--overcast {
    left: 3%;
    top: 79%;
  }
  .supports--service--playerfm {
    left: 5%;
    top: 26%;
  }
  .supports--service--pocketcasts {
    left: 31%;
    top: 6%;
  }
  .supports--service--podcast-republic {
    left: 9%;
    top: 59%;
  }
  .supports--service--radiopublic {
    left: 50%;
    top: 64%;
  }
  .supports--service--spotify {
    left: 26%;
    top: 76%;
  }
  .supports--service--stitcher {
    left: 56%;
    top: 32%;
  }
  .supports--service--tunein {
    right: 5%;
    top: 58%;
    left: auto;
  }
}

.supports--service .white-on-hover {
  fill: transparent !important;
  transition: fill 0.2s;
  will-change: fill;
}
.supports--service:hover .white-on-hover {
  fill: #fff !important;
}

.supports--service .not-white-on-hover {
  transition: fill 0.2s;
  will-change: fill;
}
.supports--service:not(:hover) .not-white-on-hover {
  fill: white !important;
}

.supports--service .visible-on-hover {
  opacity: 0;
  transition: opacity 0.25s;
  will-change: opacity;
}
.supports--service:hover .visible-on-hover {
  opacity: 1;
}

.let-us-help-you-grow {
  margin-top: 64px;
  padding-bottom: 16px;
  padding-top: 40px;
}

.let-us-help-you-grow .feature--item {
  align-items: center;
  display: flex;
  margin-top: 48px;
}
.feature--item figure {
  display: block;
  position: relative;
}
.feature--item figure img {
  border-radius: 4px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.075);
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 3;
}
.feature--item figure::before {
  background: #d0f9e6;
  border-radius: 4px;
  bottom: -12px;
  content: "";
  display: block;
  height: 100%;
  left: -12px;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.feature--item figure::after {
  border-radius: 4px;
  bottom: -48px;
  content: url(/img/slants_straight.svg);
  display: block;
  right: -64px;
  opacity: 0.075;
  position: absolute;
  transform: skew(-12deg);
  z-index: 1;
}
.feature--item--description {
  padding: 20px 40px;
}
.feature--item--description h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}
.feature--item--description p {
  line-height: 24px;
}

.feature--item:nth-child(2n + 1) figure {
  order: 2;
}
.feature--item:nth-child(2n + 1) figure::before {
  background: #f9edda;
  left: 12px;
  bottom: 12px;
}
.feature--item:nth-child(2n + 1) figure::after {
  bottom: -64px;
  transform: skew(-12deg) scaleY(-1);
}

@media (max-width: 800px) {
  .feature--item {
    flex-direction: column;
  }
  .feature--item figure::after {
    right: -16px;
  }
  .feature--item:nth-child(2n + 1) figure {
    order: 0;
  }
}

.feature--item--detail-list {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-area: auto;
  grid-column-gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  font-size: 14px;
  line-height: 32px;
  list-style: none;
  padding: 0;
}
.feature--item--detail-list li {
  white-space: nowrap;
  flex: 0 0 33%;
}
.feature--item--detail-list li::before {
  border: 2px solid #708d9e;
  border-left: 0;
  border-top: 0;
  content: "";
  display: inline-block;
  height: 12px;
  margin-right: 12px;
  transform: rotate(45deg) translateY(-4px);
  vertical-align: middle;
  width: 6px;
}

.other-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 96px 8% 32px;
}
.other-feature {
  flex: 1 0 50%;
  margin-bottom: 32px;
  max-width: 400px;
  min-width: 200px;
  padding-right: 48px;
  transform: translateX(16px);
}
.other-feature h3 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 16px;
}
.other-feature p {
  font-size: 14px;
  line-height: 1.75em;
  margin: 0 0 12px;
}

@media (max-width: 800px) {
  .other-features {
    padding-bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 40px;
  }
  .other-feature {
    margin-bottom: 24px;
    padding-right: 0;
    transform: translateX(0);
  }
}

.customer-quotes {
  overflow: hidden;
  padding-bottom: 80px;
}
.customer-quotes .customer-quotes--quotes {
  display: flex;
  height: 300px;
  margin-top: 64px;
  max-width: 800px;
  padding: 32px 0 0;
  position: relative;
}
.centered-section .customer-quotes--bg {
  height: 400px;
  left: 0;
  max-width: none;
  opacity: 0.5;
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: 2;
}
.customer-quotes--bg svg {
  height: 100%;
  left: calc(50% - 1050px);
  position: absolute;
  width: 2100px;
}
@media (max-width: 550px) {
  .centered-section .customer-quotes--bg {
    display: none;
  }
}

.customer-quotes--quote {
  align-items: flex-start;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  margin: 0;
  max-width: 450px;
  position: absolute;
  top: 0;
  transform: scale(1) translate(0, 0);
  z-index: 3;
}
.is-intersecting .customer-quotes--quote {
  transition: opacity 0.2s, transform 0.5s;
}
.customer-quotes--quote > .customer-quotes--quote--inner {
  border-radius: 24px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.075), 0 8px 32px rgba(0, 0, 0, 0.025);
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  padding: 20px 32px;
  position: relative;
}
.customer-quotes--quote > .customer-quotes--quote--inner::before {
  content: "“";
  font-size: 120px;
  left: -20px;
  position: absolute;
  top: 32px;
}
.customer-quotes--quote:not(.is-active) {
  opacity: 0;
  transform: scale(0.875) translate(-40px, 0);
  transform-origin: left center;
}
.customer-quotes--quote:nth-child(2n) {
  left: auto;
  right: 0;
  text-align: right;
}
.customer-quotes--quote:nth-child(2n):not(.is-active) {
  transform: scale(0.875) translate(40px, 0);
  transform-origin: right center;
}
.customer-quotes--quote--attribution {
  font-size: 16px;
  padding: 20px 32px 0;
  width: 100%;
}
.customer-quotes--quote--attribution b {
  display: block;
  font-weight: 500;
}

.customer-quotes--quote:nth-child(1) > .customer-quotes--quote--inner {
  background-color: #d8aed3;
}
.customer-quotes--quote:nth-child(1) > .customer-quotes--quote--inner::before {
  color: #6b4365;
}
.customer-quotes--quote:nth-child(2) > .customer-quotes--quote--inner {
  background-color: #fce38a;
}
.customer-quotes--quote:nth-child(2) > .customer-quotes--quote--inner::before {
  color: #6b4943;
}
.customer-quotes--quote:nth-child(3) > .customer-quotes--quote--inner {
  background-color: #d8e9f1;
}
.customer-quotes--quote:nth-child(3) > .customer-quotes--quote--inner::before {
  color: #525886;
}
.customer-quotes--quote:nth-child(4) > .customer-quotes--quote--inner {
  background-color: #b1f1b2;
}
.customer-quotes--quote:nth-child(4) > .customer-quotes--quote--inner::before {
  color: #1a5d16;
}
.customer-quotes--quote:nth-child(5) > .customer-quotes--quote--inner {
  background-color: #ffe98a;
}
.customer-quotes--quote:nth-child(5) > .customer-quotes--quote--inner::before {
  color: #6b4365;
}
.customer-quotes--quote:nth-child(6) > .customer-quotes--quote--inner {
  background-color: #90b2e4;
}
.customer-quotes--quote:nth-child(6) > .customer-quotes--quote--inner::before {
  color: #444375;
}
.customer-quotes--quote:nth-child(7) > .customer-quotes--quote--inner {
  background-color: #f1d18a;
}
.customer-quotes--quote:nth-child(7) > .customer-quotes--quote--inner::before {
  color: #b95252;
}
.customer-quotes--quote:nth-child(8) > .customer-quotes--quote--inner {
  background-color: #ebd9dd;
}
.customer-quotes--quote:nth-child(8) > .customer-quotes--quote--inner::before {
  color: #926490;
}

.plans-pricing .plans {
  display: flex;
  justify-content: center;
  margin: 48px auto;
  padding: 0 5vw;
}
.plans .plan {
  border-radius: 4px;
  color: #44484d;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  padding: 20px;
  position: relative;
}
.plan.plan-starter {
  background: #d0f9e6;
  box-shadow: inset 0 0 0 3px rgb(160, 220, 193), 0 4px 8px rgba(0, 0, 0, 0.125),
    0 4px 16px rgba(0, 0, 0, 0.15), 0 0 0 0.5px #8cc3a2;
  color: #000;
  margin: 0 -8px;
  padding: 36px;
  z-index: 3;
}
.plan:not(.plan-starter) {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05), 0 3px 12px rgba(0, 0, 0, 0.075),
    0 0 0 0.5px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}
.plan.plan-demo {
  padding-right: 28px;
}

.plan h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1em;
  margin: 0 0 16px;
}
.plan--price {
  display: block;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 8px;
}
.plan--price sub,
.plan--price span {
  font-weight: 400;
}
.plan--price sub {
  vertical-align: baseline;
  font-size: 20px;
  margin-left: 12px;
  position: relative;
  bottom: -6px;
}
.plan--price sub::before {
  background: currentColor;
  bottom: 6px;
  content: "";
  display: block;
  height: 16px;
  left: -6px;
  position: absolute;
  transform: rotate(30deg);
  width: 1px;
}
.plan--features {
  list-style: none;
  margin-bottom: 24px;
  padding: 0;
}
.plan--feature {
  line-height: 20px;
  padding: 2px 4px;
}
.plan--feature:not(.plan--feature--highlight)::before {
  border: 2px solid #708d9e;
  border-left: 0;
  border-top: 0;
  content: "";
  display: inline-block;
  height: 12px;
  margin-right: 12px;
  transform: rotate(45deg) translateY(-4px);
  vertical-align: middle;
  width: 6px;
}
.plan-starter .plan--feature:not(.plan--feature--highlight)::before {
  border-color: #146640;
}
.plan-pro .plan--feature:not(.plan--feature--highlight)::before {
  border-color: #b5917d;
}
.plan--feature--highlight {
  background: #d0f9e6;
  border-radius: 3px;
  color: #146640;
  display: inline-block;
  list-style: none;
}
.plan--learn-more {
  display: inline-block;
  text-align: center;
  align-self: center;
}
.plan--sign-up {
  margin: 20px auto 0;
}

.plans--get-started {
  font-size: 18px;
  padding: 0 20px;
  text-align: center;
}

.plan-addons {
  overflow: visible;
  display: flex;
  flex: 1.3 1;
  flex-direction: column;
  justify-content: center;
  padding: 0 12px;
}
.plan-addons--explanation {
  font-weight: 500;
  padding: 12px 0 8px 8px;
}
.plan-addon {
  align-items: flex-start;
  /* box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1),
    0 3px 8px rgba(0, 0, 0, 0.075); */
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 12px;
  margin-left: 8px;
  padding: 16px;
  position: relative;
}
.plan-addon h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}
.plan-addon > a {
  display: inline-block;
  font-weight: 400;
  margin: 0;
  position: relative;
}
.plan-addon .price {
  font-size: 18px;
  margin-bottom: 12px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.plan-addon::after {
  border-radius: 4px;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.75;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}
.plan-addon--analytics::after {
  box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.25), inset 0 0 0 4px #f2c4ec;
}
.plan-addon--crew::after {
  box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.25), inset 0 0 0 4px #d8e9f1;
}
.plan-addon--grow::after {
  box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.25), inset 0 0 0 4px #ffe98a;
}
.plan-addon--hifi::after {
  box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.25), inset 0 0 0 4px #999;
}

@media (max-width: 770px) {
  .plan-addon {
    margin-bottom: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.try-it-free {
  margin-top: 60px;
  background-color: #f6f7f5;
  color: #4e7287;
  padding: 64px 20px;
}
.try-it-free > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1024px;
}
.try-it-free h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1em;
  margin: 0 0 8px;
}
.try-it-free .flavor-text {
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  max-width: 600px;
}
.try-it-free .free-feature-list {
  display: flex;
  font-weight: 500;
  list-style: none;
  margin: 12px 0 0;
  padding: 0;
}
.try-it-free .free-feature-list > li {
  display: inline-block;
  margin-right: 8px;
}
.try-it-free .free-feature-list > li + li:before {
  content: "·";
  margin-right: 8px;
}
.try-it-free .cta {
  flex: 0 0 300px;
  text-align: right;
}
.try-it-free .cta .btn {
  background-color: #4e7287;
  color: #fff;
  font-weight: 500;
}
.try-it-free .whats-included {
  font-size: 14px;
  margin: 12px 0 0;
}
.try-it-free .whats-included a {
  color: inherit;
  transition: color 0.2s;
}
.try-it-free .whats-included a:hover {
  color: #000;
}

@media (max-width: 600px) {
  .try-it-free > div {
    flex-direction: column;
    text-align: center;
  }
  .try-it-free h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .try-it-free .flavor-text {
    font-size: 16px;
    line-height: 24px;
  }
  .try-it-free .free-feature-list {
    justify-content: center;
    margin-bottom: 28px;
  }
  .try-it-free .cta {
    flex: 0 0;
    text-align: center;
  }
  .try-it-free .cta .btn {
    margin-bottom: 12px;
  }
}

footer {
  padding: 0 12px;
}
footer > div {
  align-items: center;
  color: #616669;
  display: flex;
  flex-direction: column;
  line-height: 40px;
  margin: 40px auto 0;
  max-width: 1024px;
  text-align: center;
  padding: 20px 0;
}

.has-arrow {
  position: relative;
}
.has-arrow::after {
  background: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -16px;
  margin: auto 0;
}
.has-arrow::before {
  border: 2px solid currentColor;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  display: block;
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -16px;
  margin: auto 0;
}

@media (max-width: 850px) {
  #hero > div {
    padding: 150px 315px 150px 0;
  }
  #hero .cta {
    margin-bottom: 16px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  #hero .cta .no-cc-req {
    margin: 12px 0 0;
  }
}

@media (min-width: 700px) {
  .high-level-option {
    margin: 0 24px;
  }
  .high-level-option:first-child {
    margin-left: 0;
  }
  .high-level-option:last-child {
    margin-right: 0;
  }
}
@media (max-width: 850px) {
  .high-level-options {
    flex-direction: column;
  }
  .high-level-option {
    padding: 0 20px 48px;
  }

  .plans-pricing .plans {
    flex-direction: column;
  }
  .plans-pricing .plan {
    padding: 28px;
    margin: 0 auto;
    max-width: 420px;
    width: 100%;
  }
  .plans-pricing .plan h3 {
    font-size: 24px;
    font-weight: 400;
  }
  .plan.plan-starter {
    padding: 28px;
    margin: 20px auto;
  }
}

.show-on-mobile {
  display: none !important;
}

@media (max-width: 600px) {
  .show-on-mobile {
    display: unset !important;
  }
  .hide-on-mobile {
    display: none !important;
  }

  #hero > div {
    padding: 110px 0 260px;
  }
  #hero h2 {
    margin-bottom: 24px;
    font-size: 40px;
    padding-right: 20%;
  }
  #hero p {
    margin-bottom: 24px;
    font-size: 20px;
  }
  .hero-phones {
    bottom: -312px;
    left: auto;
    right: -20%;
    top: auto;
    transform: rotate(12deg) scale(0.75);
  }
  .hero-phones .hero-phones-col2,
  .hero-phones .directory {
    display: none;
  }
}
